body {
    margin: 0;
}

header {
    height: 20vh;
    width: 100vw;
    background-image: linear-gradient(to left, rgba(14, 110, 235, 0), rgb(13, 109, 219));

}

.logocontainer{
    height: 100%;
    width: 25%;
    font-size: 0;
    float: left; 
    
    
}
.logocontainer img {
    height: 30%;
    width: 70%;
    position: relative;
    top: 35%;
    left: 5%;
}

.gameplayed {
    height: 100%;
    width: 16%;
    position: relative;
    float: left;
    
}

.gamePlayedCount {
    position: relative;
    top: 20%;
    color: rgb(228, 206, 206);
    
}

.gameNumber{
    position: relative;
    top: 30%;
    left: 5%;
    color:  rgb(228, 206, 206);
}

.attempts {
    position: relative;
    top: 20%;
    color: rgb(228, 206, 206);
}

.atemptsNumber{
    position: relative;
    top: 30%;
    left: 5%;
    color:  rgb(228, 206, 206);
}

.accuracy {
    position: relative;
    top: 20%;
    color: rgb(228, 206, 206);
}

.accuracyNumber {
    position: relative;
    top: 30%;
    left: 5%;
    color:  rgb(228, 206, 206);
}

.reset {
    position: relative;
    top: 30%;
    left: 5%;
    color: whitesmoke;
    border: none;
    padding: 15px 32px;
    background-image: linear-gradient(to left, rgba(15, 13, 13, 0), rgb(27, 22, 22));
}



.containerNavAndGameTable {
    height: 80vh;
    width: 100vw;
    font-size: 0;
    /* background-image: url(./images/imageFontan.gif); */
    background-image: url(./images/friends-netflix.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.containerNavAndGameTable > * {
    font-size: 1rem;

}
nav {
    height: 100%;
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

.gameTable {
    height: 100%;
    width: 85%;
    display: inline-block;
    background-position: center;
    background-size: cover;
}
.cardContainer {
    width: 15.6%;
    height: 33.33%;
    display: inline-block;
    float: left;
}
.card {
    width: 75%;
    height: 85%;
    position: relative;
    top: 8%;
    left: 1%;
}
.front {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: purple;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.imgSize {
    height: 100%;
    width: 100%;

}
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('./images/black.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hide .back {
    display: none;
}